# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node/JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Expo/React Native
.expo/
.expo-shared/
web-build/
# Metro/Watchman
.watchmanconfig

# IDEs
.vscode/
.idea/
*.swp

# Misc
.env
.env.*
*.local

# Logs
logs
*.log
